
.idea/workspace.xml
cmd/wallet/keystore
cmd/wallet/wallet
UBChain
build
cmd/tools/tools
cmd/wallet/test
config1.toml
config2.toml
config3.toml
data
data1
data-back
cmd/wallet/UBCkey.zip
cmd/wallet/keystore.zip
ubchain.pem
uploadUB.sh
